﻿
@*@{
    ViewBag.Title = "ChangePasswordSuccess";
}

<h2>ChangePasswordSuccess</h2>*@


@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>
<p>
    Your password has been changed successfully.
</p>