﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ControlTest.aspx.cs" Inherits="WebApplication4.ControlTest" %>

<%@ Register Assembly="WebApplication3" Namespace="WebApplication3" TagPrefix="cc1" %>

<cc1:WebCustomControl1 ID="WebCustomControl1" Text="Hello Dan" runat="server" />
