﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Footer.ascx.cs" Inherits="WebApplication4.Footer" %>
<table style="margin:auto">
<tr>
<td style="text-align:center"> Copyright ©2010 TutorialPoints Ltd.</td>
</tr>
<tr>
<td style="text-align:center"> Location: Hyderabad, A.P </td>
</tr>
    <tr>
<td style="text-align:center"> Arad Hakhamanesh </td>
</tr>
</table>
