﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Header.ascx.cs" Inherits="WebApplication4.Header" %>
<table style="margin:auto">
<tr>
<td Style="text-align:left;color:cornflowerblue;"> Copyright ©2017 TutorialPoints Ltd.</td>
</tr>
<tr>
<td Style="text-align:left ;color:cornflowerblue;"> Location: John Abbott Colege </td>
</tr>
    <tr>
<td Style="text-align:left ;color:cornflowerblue;"> Arad Hakhamanesh </td>
</tr>
</table>
