﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Test1.aspx.cs" Inherits="WebApplication4.Test1"  MasterPageFile="~/Site.Master" %>


<asp:Content ID="blabla" ContentPlaceHolderID="MainContent" runat="server">
    <asp:Label ID="lblTest1" Text="This is Test Page " runat="server"></asp:Label>
    

</asp:Content>