﻿ <%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="ValidateForm.aspx.cs" Inherits="WebApplication4.ValidateForm" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <asp:DropDownList ID="ddlcandidate"  runat="server">
        <asp:ListItem Text="Choose" Value="0"></asp:ListItem>
        <asp:ListItem Text="candidate1" Value="1"></asp:ListItem>
        <asp:ListItem Text="candidate2" Value="2"></asp:ListItem>
        </asp:DropDownList>
    <asp:RequiredFieldValidator ID="RequiredFieldValidator1" ForeColor="Red" ControlToValidate="ddlcandidate" runat="server" ErrorMessage="Please choose a candidate" 
        InitialValue="0"></asp:RequiredFieldValidator>
   

</asp:Content>
