﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="LINQ.aspx.cs" Inherits="FileUploader.LINQ" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Label ID="lblbooks" runat="server" Text=""></asp:Label>
        </div>
    </form>
</body>
</html>
